/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100%;
}


.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 300px;
    background-image: url('https://newsinfo.inquirer.net/files/2025/02/2025-February-24-Polytechnic-University-of-the-Philippines.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.container1-content h1 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container1-content p {
    font-size: 1.25rem;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.container2 {background-color: lightgreen;}
.container3 {
    display: flex;
    background-color: rgb(160, 160, 10);
}

.container1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;`
    margin: 10px;
    padding: 10px;
}

.container2-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 15px; 
}

.per-content-format {
    display: flex;

}




